---
name: inicio
url: /
---

<div class="grid-container">
  <h1>Stats</h1>
  <p class="lead">Obtén información estadística de una manera sencilla</p>
  <p>
  	Puedes generar diversos valores aleatorios de diferentes tipos <a ui-sref="aleatorios">aquí</a>
  </p>
  <p>
  	Calcula promedios, media y moda <a ui-sref="central">aquí</a>
  </p>
  <p>
  	Comprueba la fiabilidad de las medidas de tendencia central con la <a ui-sref="dispersion">calculadora de dispersión</a>
  </p>
  <p>
  	Para darte una perspectiva general de tu información, usa el <a ui-sref="graficador">graficador</a>
  </p>
</div>
